/* CSS files add styling rules for the challenges */

/* Challenge 1 */
.flamingo {

}

.bluejay {

}

.eagle {

}

.robin {

}

.duck {

}

.owl {

}

/* Challenge 2 */
.arial {
  
}

.comic {
  
}

.georgia {
  
}

.times{
  
}

.verdana {
  
}

.fontdiner {
  
}

/* Challenge 3 */
.red {
  
}

.blue {
  
}

.green {
  
}

.yellow {
  
}

.orange {
  
}

.purple {
  
}

/* Challenge 4 */
.style {
  
}

.width {
  border-style: solid;
  
}

.color {
  border-style: solid;
  
}

.radius {
  border-style: solid;
  
}